/* Estilos para la página acerca de */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f3f4ed;
  color: #031202e0;
}

/* Estilo para el fondo del eslogan */
.jumbotron-overlay {
  background-color:  #ffffff6e;
  color: 0 4px 6px rgba(225, 181, 4, 0.778);
  border-radius: 2rem;
  margin-left: 10%;
  margin-right: 10%;
}

.btn-primary-custom {
  background-color: #f9c74f;
  border: none;
  border-radius: 20px;
  color: #222;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  position: relative;
  z-index: 1;
  
}

.btn-primary-custom:hover {
  background-color: #90be6d;
  color: #fff;
}

.btn-primary-custom::before {
  background-color: #222;
  border-radius: 50%;
  content: "";
  height: 100%;
  left: -10px;
  opacity: 0.2;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.btn-primary-custom:hover::before {
  transform: scale(1);
}





  
  
